.play-again {
    /* Rounded Button */
    padding: 2rem 4rem;
    border: 1px solid yellow;
    background-color: rgb(233, 119, 233);
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
}